/* Variables globales */
:root {
  --grid-gap: 50px;
  --box-padding: 20px;
  --dark-bg: #333;
  --light-text: #fff;
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

input {
  width: 50%;
  font-family: "Fredericka the Great", serif;
  color: rgb(17, 22, 144);
}

/* Style commun pour les boîtes sombres */
button {
  font-family: "Fredericka the Great", serif;
  font-size: 1.2em;
  padding: 1%;
  border:color(from color srgb r g b);
  border-radius: 25px;
  color: rgb(210, 210, 225);
  cursor: pointer;
  transition: transform 0.1s, opacity 0.1s;
  align-items: center;
  background-color: rgb(155, 84, 109);
}

button:active {
  transform: scale(0.95);
  opacity: 0.8;
}